
body{
    margin: 0;
    padding: 0;
    background-color:#28df99;
    font-family: "Open Sans", sans-serif;
}

#timer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question{
    font-weight: bold;
    font-size: 1.5rem;
}

.outer_div{
    position: absolute;
    width: 20vw;
    height: 40vh;
    z-index: 0;
    background-color: #99f3bd;
    border-radius: 15px;
}

.container{
    transform: translate(20px,20px);
    position: absolute;
    width: 20vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
    z-index: 1;
    border-radius: 15px;
    color: #cc7351;
}

.countdown{
    width: 6rem;
    height: 6rem;
    padding: 2%;
    margin: 10%;
    border-radius: 50%;
   background-color: #28df99;
}

.text-success {
    color: #28df99!important;
    margin: 10%;
}

@media screen and (max-width:576px){
    .container,.outer_div{
        width: 80vw;
        height: 50vh;
    }
}

@media screen and (min-width:577px) and (max-width:768px){
    .container,.outer_div{
        width: 60vw;
        height: 60vh;
    }
}